{% extends 'base.html.twig' %}

{% block title %}Kullanıcı Paneli{% endblock %}

{% block body %}

    <div class="container mt-4">

        <div class="row">

            <div class="col-md-6">
                <a href="{{ path('editor_journal_management') }}" class="">
                    <div class="card" style="background-color: #dcdcdc;">
                        <div class="card-header">
                            <h2>Editörlük İşlemleri</h2></div>
                        <div class="card-body">
                            <a href="{{ path('editor_journal_management') }}" ><h5 class="card-text"> Dergiler</h5></a>
{#                            <hr>#}
{#                            <a href="{{ path('admin_user_add') }}"> <h5 class="card-text"> Sayılar</h5></a>#}
{#                            <hr>#}
{#                            <a href="{{ path('admin_user_add') }}"> <h5 class="card-text">Makaleler</h5></a>#}

                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="{{ path('operator_journal_management') }}" class="">
                    <div class="card" style="background-color: #dcdcdc;">
                        <div class="card-header">
                            <h2>Operatörlük İşlemleri</h2></div>
                        <div class="card-body">
                            <a href="{{ path('operator_journal_management') }}"><h5 class="card-text">Dergiler</h5></a>
{#                            <hr>#}
{#                            <a href="{{ path('admin_journal_add') }}"><h5 class="card-text">Sayılar</h5></a>#}
                        </div>
                    </div>
                </a>
            </div>

        </div>

    </div>
{% endblock %}
