{% extends 'base.html.twig' %}

 {% block title %}Dergi Yönetimi{% endblock %}
 {% block stylesheets %}
     <link href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
     <link type="text/css" href="{{ asset('css/breadcrumb.css') }}" rel="stylesheet">

 {% endblock %}

    {% block body %}
        <style>
            .card {
                max-height: none;
                overflow: auto;
            }

            header {
                background-color: #f3f3f3;
            }

            #deleteJournalModal {
                margin-top: 150px;
            }

            .button-42 {
                background-color: initial;
                background-image: linear-gradient(-180deg, #1c5b3e, #198753);
                border-radius: 3px;
                box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
                height: 38px;
                line-height: 40px;
                outline: 0;
                overflow: hidden;
                padding: 0 12px;
                /*margin-top: 0.5px;*/
                pointer-events: auto;
                position: relative;
                text-align: center;
                touch-action: manipulation;
                user-select: none;
                -webkit-user-select: none;
                white-space: nowrap;
                z-index: 9;
                border: 0;
                transition: box-shadow .2s;
            }

            .button-42:hover {

                color: #fff;
            }

            .custom-badge {
                color: white;
                border-radius: 3px;
                padding: 5px 15px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
                height: 30px;
                min-width: 150px;
                text-align: center;
            }

            .badge-primary {
                background-color: #007bff;
            }

            .badge-warning {
                background-color: #ffc107;
            }

            .badge-success {
                background-color: #28a745;
            }

            .badge-info {
                background-color: #62afac;
            }

            .badge-danger {
                background-color: #dc3545;
            }

            .badge-secondary {
                background-color: #6c757d;
            }

            .btn-custom-secondary {
                background-color: #f0f0f0;
                color: #333;
                border: 1px solid #ccc;
                border-radius: 1px;
                display: inline-flex;
                align-items: center;
                padding: 0.375rem 0.75rem;
                text-align: center;
                white-space: nowrap;
            }

            .btn-custom-secondary:hover {
                background-color: #e0e0e0;
                color: #111;

            }

            .btn-custom-export {
                background-color: #6c757d;
                color: #fff;
                border: 1px solid #6c757d;
                display: inline-flex;
                align-items: center;
                padding: 0.375rem 0.75rem;
                text-align: center;
                white-space: nowrap;
            }

            .btn-custom-export:hover {
                background-color: #5a6268;
                color: #fff;
            }

            .custom-td {
                white-space: nowrap;
            }
        </style>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1>
                    {% if role == 'operator' %}
                        Operatörlük Yaptığım Dergiler
                    {% endif %}
                    {% if role == 'editor' %}
                        Editörlük Yaptığım Dergiler

                    {% endif %}
                </h1>
                <div class="m-3">

                </div>

            </div>
            <div class="card shadow-lg " style="font-size: 20px;">
                <div class="card-body">
                    <div class="container_table" style="overflow: hidden;">
                        <table class="table" id="myTable">
                            <thead>
                            <tr>
                                <th>Dergi İsmi</th>
                                <th style="text-align: center;">Link</th>
                                <th>Issn</th>
                                <th>E-issn</th>
                                <th style="text-align: center;">Arşiv Durum</th>
                                <th style="text-align: center;">Tüm Sayılar</th>
                                <th style="text-align: center;">Kontrol Edilmiş Sayılar</th>
                                <th style="text-align: center">Dışa Aktarım Onay</th>
                                <th style="text-align: right; "></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for journalUser in journalUsers %}


                                {% set status_all_count = 0 %}
                                {% set status_editRequired_count = 0 %}
                                {% set status_edited_count = 0 %}
                                {% set status_error_count = 0 %}

                                {% for issue in journalUser.journal.issues %}
                                    {% set status_all_count = status_all_count + 1 %}
                                    {% if issue.status == '001' %}
                                        {% set status_editRequired_count = status_editRequired_count + 1 %}
                                    {% elseif issue.status == '002' %}
                                        {% set status_edited_count = status_edited_count + 1 %}
                                    {% elseif issue.status == '003' %}
                                        {% set status_error_count = status_error_count + 1 %}
                                    {% endif %}
                                {% else %}
                                {% endfor %}
                                <tr>
                                    <td>{{ journalUser.journal.name }}</td>
                                    <td class="">
                                        {% if journalUser.journal.archive %}
                                            <a href="{{ journalUser.journal.archive }}" class="btn-link" target="_blank"
                                               rel="noopener noreferrer">Link</a>
                                        {% else %}
                                        {% endif %}
                                    </td>
                                    <td class="custom-td">{{ journalUser.journal.issn }}</td>
                                    <td class="custom-td">{{ journalUser.journal.eIssn }}</td>
                                    {% if journalUser.journal.status == '000' %}
                                        <td>
                                            <span class="custom-badge badge-primary">Beklemede</span>
                                        </td>
                                    {% elseif journalUser.journal.status == '001' %}
                                        <td>
                                            <span class="custom-badge badge-warning">Aktarım Yapılıyor</span>
                                        </td>
                                    {% elseif journalUser.journal.status == '002' %}
                                        <td>
                                            <span class="custom-badge badge-info">Transfer Edildi</span>
                                        </td>
                                    {% elseif journalUser.journal.status == '003' %}
                                        <td>
                                            <span class="custom-badge badge-danger">Hatalı</span>
                                        </td>
                                    {% elseif journalUser.journal.status == '004' %}
                                        <td>
                                            <span class="badge custom-badge badge-success">Kontrol Edildi</span>
                                        </td>
                                    {% else %}
                                        <td style="text-align: center">
                                            <span class="custom-badge badge-secondary">Arşiv Eklenmemiş</span>
                                        </td>
                                    {% endif %}
                                    <td style="text-align: center">{{ status_all_count }}</td>
                                    <td style="text-align: center">{{ status_edited_count }}</td>
                                    {#                                    <td style="text-align: center">{{ status_error_count }}</td> #}
                                    {% if journalUser.journal.export %}
                                        <td style="text-align: center; white-space: nowrap;">
    <span class="text-black" tabindex="0" data-bs-toggle="popover"
          data-bs-placement="left" data-bs-trigger="hover"
          data-bs-content="{{ journalUser.journal.exportDate|date('d-m-Y H:i') }}"
          style=" color: white; border-radius: 3px; text-align: center; padding-top: 5px; display:inline-flex;">
        {{ journalUser.journal.exporter.name }} {{ journalUser.journal.exporter.surname }} &nbsp;
        <i class="bi bi-info-circle"></i>
    </span>
                                        </td>

                                    {% else %}
                                        <td></td>
                                    {% endif %}

                                    <td style="text-align: right">
                                        <div style="display: inline-flex; justify-content: space-between;">

                                            {% if  journalUser.journal.status == '002' %}
                                                <a class="btn btn-warning btn-custom-secondary"
                                                   href="{{ path('journal_export_confirm', {'id': journalUser.journal.id, 'role': role}) }}"
                                                   style="flex: 1; margin-right: 40px; white-space: nowrap; text-align: center; border-radius: 2px;">
                                                    Kontrol Et<i class="bi bi-check2-square"></i>
                                                </a>
                                            {% endif %}
                                            {% if status_edited_count and journalUser.journal.status == '004' %}
                                                {% if status_all_count != 0 %}
                                                    {% if journalUser.journal.export %}
                                                        {% if role == 'admin' and 'ROLE_SYSTEM_OPERATOR' not in user.roles or role == 'editor' %}
                                                            <a class="btn btn-custom-export"
                                                               href="{{ path('journal_export', {'id': journalUser.journal.id}) }}"
                                                               style="flex: 1; margin-right: 40px; border-radius: 3px;  text-align: center">Dışa
                                                                Aktar<i class="bi bi-filetype-xml"></i></a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}

                                            {% if journalUser.journal.status == null %}
                                                {% if status_edited_count > 0 %}
                                                    {% if role == 'admin' and 'ROLE_SYSTEM_OPERATOR' not in user.roles or role == 'editor' %}
                                                        <a class="btn btn-custom-export"
                                                           href="{{ path('journal_export', {'id': journalUser.journal.id}) }}"
                                                           style="flex: 1; margin-right: 40px; border-radius: 3px; text-align: center">Dışa
                                                            Aktar<i class="bi bi-filetype-xml"></i></a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% set status_all_count = 0 %}
                                            {% set status_edited_count = 0 %}
                                            {% set status_error_count = 0 %}

                                            <div style="display: inline-flex; justify-content: space-between;">
                                                {% if role == 'editor' %}
                                                    <a href="{{ path('editor_journal_issues', {'id': journalUser.journal.id}) }}"
                                                       class="btn btn-primary" style="border-radius: 3px">Sayılar</a>
                                                {% elseif role == 'operator' %}
                                                    <a href="{{ path('operator_journal_issues', {'id': journalUser.journal.id}) }}"
                                                       class="btn btn-primary" style="border-radius: 3px">Sayılar</a>
                                                {% endif %}


                                            </div>
                                        </div>
                                    </td>

                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Dergi Bulunamadı...</td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteJournalModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteJournalModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteJournalModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        Dergiyi silmek istediğinizden emin misiniz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="deleteJournalLink" class="btn btn-primary" data-bs-dismiss="modal">
                            Dergiyi Sil
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}

        <script charset="utf8" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script>
            function openDeleteModal(journalId) {
                var deleteUrl = "{{ path('admin_journal_delete', {'id': 'JOURNAL_ID'}) }}".replace('JOURNAL_ID', journalId);
                document.getElementById('deleteJournalModalLabel').textContent = 'Dergiyi Sil';
                document.querySelector(`#deleteJournalLink`).setAttribute('href', deleteUrl);
                var deleteModal = new bootstrap.Modal(document.getElementById('deleteJournalModal'));
                deleteModal.show();

                document.getElementById('deleteJournalLink').addEventListener('click', function () {
                    window.location.href = deleteUrl;
                });
            }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    var popover = new bootstrap.Popover(popoverTriggerEl);

                    // Popover dışına tıklanıldığında popover'ı kapat
                    document.addEventListener('click', function (event) {
                        if (!popoverTriggerEl.contains(event.target)) {
                            popover.hide();
                        }
                    });

                    return popover;
                });
            });
        </script>
        <script>
            function closeModal() {
                $('#deleteJournalModal').modal('hide');
                $('.modal-backdrop').remove();
            }


            $('.btn-close').click(function () {
                closeModal();
            });


            $('#deleteJournalLink').click(function () {
                closeModal();
            });
        </script>


        <script>
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "yesy-asc": function (str1, str2) {
                    if (str1 === "")
                        return 1;
                    if (str2 === "")
                        return -1;
                    return ((str1 < str2) ? -1 : ((str1 > str2) ? 1 : 0));
                },

                "yesy-desc": function (str1, str2) {
                    if (str1 === "")
                        return 1;
                    if (str2 === "")
                        return -1;
                    return ((str1 < str2) ? 1 : ((str1 > str2) ? -1 : 0));
                }
            });

            let table = new DataTable('#myTable', {
                pageLength: 25,
                responsive: true,
                searchBuilder: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
                    info: " _TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    sInfoPostFix: ""

                },

                columnDefs: [
                    {type: 'yesy', targets: [1, 2]},
                    {orderable: false, targets: []},

                    {"name": "name", "targets": 0},
                    {"name": "issn", "targets": 1},
                    {"name": "Eissn", "targets": 2},
                ],
            });

        </script>
    {% endblock %}
{# <!--  BU KISIM DENEMEDİR   --> #}
{# {% extends 'base.html.twig' %} #}

{# {% block title %}Dergi Yönetimi{% endblock %} #}
{# {% block stylesheets %} #}
{#    <link href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet"> #}

{# {% endblock %} #}

{#    {% block body %} #}
{#        <style> #}
{#            .card { #}
{#                max-height: none; #}
{#                overflow: auto; #}
{#            } #}

{#            header { #}
{#                background-color: #f3f3f3; #}
{#            } #}


{#            header { #}
{#                background-color: #f3f3f3; #}
{#            } #}

{#        </style> #}
{#        <div class="container"> #}
{#            <div class="d-flex justify-content-between align-items-center"> #}
{#                <h1>Dergi İşlemleri</h1> #}
{#                <div class="m-3"> #}
{#                    <a href="{{ path('admin_journal_add') }}" class="btn btn-lg btn-dark">Dergi Ekle</a> #}
{#                </div> #}
{#            </div> #}
{#            <div class="card shadow-lg " style="font-size: 20px;"> #}
{#                <div class="card-body"> #}

{#                    <div class="container_table" style="overflow: hidden;"> #}
{#                        <table class="dataTable" id="example"> #}
{#                            <thead> #}
{#                            <tr> #}
{#                                <th>Dergi İsmi</th> #}
{#                                <th>Issn</th> #}
{#                                <th>E-issn</th> #}
{#                            </tr> #}
{#                            </thead> #}
{#                            <tbody> #}
{#                            <tr> #}
{#                                <td></td> #}
{#                                <td></td> #}
{#                                <td></td> #}
{#                            </tr> #}
{#                            </tbody> #}
{#                        </table> #}
{#                    </div> #}
{#                </div> #}
{#            </div> #}
{#        </div> #}
{#    {% endblock %} #}
{#    {% block javascripts %} #}

{#        <script charset="utf8" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" #}
{#                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" #}
{#                crossorigin="anonymous"></script> #}
{#        <script src="https://code.jquery.com/jquery-3.7.1.js"></script> #}
{#        <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script> #}

{#        <script> #}
{#            let table = $('#example').DataTable({ #}
{#                serverSide: true, #}
{#                processing: true, #}
{#                ajax: { #}
{#                    url: '{{ path('example_ajax') }}', #}
{#                    type: 'POST', #}
{#                    data: function (d) { #}
{#                        return { #}
{#                            draw: d.draw, #}
{#                            start: d.start, #}
{#                            length: d.length, #}
{#                            orderColumn: d.order[0].column, #}
{#                            orderDir: d.order[0].dir, #}
{#                            search: d.search.value, #}
{#                        }; #}
{#                    }, #}
{#                }, #}
{#                columns: [ #}
{#                    { data: 'name', orderable: true, searchable: true }, #}
{#                    { data: 'issn', orderable: true, searchable: true }, #}
{#                    { data: 'eIssn', orderable: true, searchable: true }, #}
{#                ], #}
{#            }); #}

{#        </script> #}
{#    {% endblock %} #}

