{% extends 'base.html.twig' %}

 {% block title %}Dergi Sayıları{% endblock %}
 {% block stylesheets %}
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
           integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

     <link href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
     <link type="text/css" href="{{ asset('css/breadcrumb.css') }}" rel="stylesheet">

 {% endblock %}

    {% block body %}
        <style>
            .card {
                max-height: none;
                overflow: auto;
            }

            header {
                background-color: #f3f3f3;
            }

            #deleteIssueModal {
                margin-top: 150px;
            }

            .text-bg-warning {
                color: #fff;
            }

            .badge {

            }

            td {
                text-align: center;
                vertical-align: middle;
            }

            /* Tablo hücrelerine padding ekleme */
            .table td {
                padding: 8px;
            }

            .table {
                border-collapse: collapse;
                border-spacing: 0;
            }


            .badge {
                display: flow;
                line-height: unset;
                font-size: 14px;
                padding: 8px 12px;
            }

            .popover {
                border: 1px solid rgba(0, 0, 0, 0.2);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                background-color: white;
            }

            .popover-content {
                color: black;
                font-size: 14px;
            }

            .button-42 {
                background-color: initial;
                background-image: linear-gradient(-180deg, #1c5b3e, #198753);
                border-radius: 3px;
                box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
                height: 38px;
                line-height: 40px;
                outline: 0;
                overflow: hidden;
                padding: 0 12px;
                /*margin-top: 0.5px;*/
                pointer-events: auto;
                position: relative;
                text-align: center;
                touch-action: manipulation;
                user-select: none;
                -webkit-user-select: none;
                white-space: nowrap;
                z-index: 9;
                border: 0;
                transition: box-shadow .2s;
            }

            .button-42:hover {
                /*box-shadow: #198754 0 3px 8px;*/
                color: #fff;
            }
        </style>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1>{{ journal.name }} {{ issues.number }}. Sayı Makaleleri</h1>
                <div class="m-3 me-0">
                    {% if 'ROLE_SYSTEM_OPERATOR' not in user.roles %}

                        <a href="{{ path('article_add',{'id': issues.id, 'role': 'admin' }) }}" class="btn btn-lg btn-dark">Yeni Makale
                        </a>
                    {% endif %}
                    {#                    <a href="{{ path('issue_save',{'id': issues.id}) }}" class="btn btn-lg btn-success">Düzenlendi #}
                    {#                        İşaretle</a> #}
                </div>

            </div>
            <div class="card shadow-lg " style="font-size: 20px;">
                <div class="card-body">

                    <div class="container_table " style="overflow: hidden;">
                        <table class="table" id="myTable">
                            <thead>
                            <tr>
                                <th>Makale Başlığı</th>
                                <th style="text-align: center">Dil</th>
                                <th>Sayfalar</th>
                                <th style="text-align: center">Durum</th>
                                <th style="text-align: center">Düzenleme Tarihi</th>
                                <th style="text-align: center">Düzenleyen</th>
                                <th style="text-align: right; "></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for article in articles %}
                                <tr>

                                    {% if article.translations.first.title %}
                                        <td style="text-align: left">{{ article.translations.first.title|slice(0, 85) }}</td>
                                    {% else %}
                                        <td>---</td>
                                    {% endif %}
                                    {% if article.primaryLanguage =='001' %}
                                        <td>Türkçe</td>
                                    {% elseif article.primaryLanguage == '002' %}
                                        <td>İngilizce</td>
                                    {% elseif article.primaryLanguage == '003' %}
                                        <td>Almanca</td>
                                    {% elseif article.primaryLanguage == '004' %}
                                        <td>İspanyolca</td>
                                    {% elseif article.primaryLanguage == '005' %}
                                        <td>Arapça</td>
                                    {% elseif article.primaryLanguage == '006' %}
                                    {% elseif article.primaryLanguage == '007' %}
                                        <td>Rusça</td>
                                        <td>Farsça</td>
                                    {% else %}
                                        <td>Türkçe</td>
                                    {% endif %}
                                    <td>{{ article.firstPage }} - {{ article.lastPage }}</td>

                                    {% if article.status == '0' %}
                                        <td><span class="badge bg-gray"
                                                  style=" color: white ;border-radius: 3px; padding: 7px; display:inline;">Beklemede</span>
                                        </td>
                                    {% elseif article.status == '001' %}
                                        <td><span class="badge bg-warning"
                                                  style=" color: white ;border-radius: 3px; padding: 7px; display:inline;">Düzenlenmeli</span>
                                        </td>
                                    {% elseif article.status == '002' %}
                                        <td><span class="badge text-bg-success"
                                                  style=" color: white ;border-radius: 3px; padding: 7px; display:inline;">Kontrol Edildi</span>
                                        </td>
                                    {% elseif article.status == '003' %}
                                        <td>
                                            <span class="badge text-bg-danger" tabindex="0" data-bs-toggle="popover"
                                                  data-bs-placement="left" data-bs-trigger="hover focus"
                                                  data-bs-content="{{ article.errors|join(', ') }}"
                                                  style=" color: white ;border-radius: 3px; padding: 3px; padding-left: 32px; padding-right: 32px; display:inline-flex;">
                                            Hatalı
                                            </span>
                                        </td>
                                    {% else %}
                                        <td>--</td>
                                    {% endif %}

                                    {% if article.modificationDate %}
                                        <td>{{ article.modificationDate|date(' d-m-Y H:i') }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}

                                    {% if article.editor %}
                                        <td>{{ article.editor.name }} {{ article.editor.surname }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                    <td style="text-align: right">
                                        <div style="display: inline-flex; justify-content: space-between;">
                                            {% if issues.status == '002' %}
                                                    {% if 'ROLE_SYSTEM_OPERATOR' not in user.roles or 'ROLE_ADMIN' in user.roles %}

                                                        <a class="btn button-42"
                                                   href="{{ path('article_export', {'id': article.id}) }}"
                                                   style="flex: 1; margin-right: 40px">Dışa Aktar<i class="bi bi-filetype-xml"></i></a>
                                            {% endif %}
                                            {% else %}
                                            {% endif %}
                                            {% if 'ROLE_SYSTEM_OPERATOR'  in user.roles or 'ROLE_ADMIN' in user.roles %}
                                            <div class="btn-group" style="flex: 1; ">
                                                <a class="btn btn-dark"
                                                   style="text-align: right; border-radius: 2px; width: 100%;"
                                                   href="{{ path('article_edit', {'id': article.id, 'role': 'admin'}) }}">Düzenle</a>
                                                {% endif %}
                                                {% if 'ROLE_SYSTEM_OPERATOR' not in user.roles or 'ROLE_ADMIN' in user.roles %}

                                                <div class="dropdown" style="border-radius: 2px; width: 100%;">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                            style="border-radius: 2px; margin-left:1px; width: 100%;"
                                                            id="dropdownMenuButton" data-bs-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="bi bi-three-dots"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item"
                                                           href="{{ path('article_Pdf_Change', {'id': article.id, 'role': 'admin'}) }}">Pdf
                                                            Güncelle</a>
                                                        <a class="dropdown-item" type="button" href="#"
                                                           data-bs-toggle="modal"
                                                           onclick="openDeleteModal({{ article.id }})"
                                                           data-bs-target="#deleteArticleModal"
                                                           data-target="#deleteArticleModal" data-id="{{ article.id }}">Sil</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Makale Bulunamadı...</td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteArticleModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteArticleModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteArticleModalLabel">Makale Silinecek</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        Makaleyi silmek istediğinizden emin misiniz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="deleteArticleLink" class="btn btn-danger" data-bs-dismiss="modal">
                            Sil
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block javascripts %}


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script>
            function openDeleteModal(articleId) {
                var deleteUrl = "{{ path('article_delete', {'id': 'article_ID', 'role': 'admin'}) }}".replace('article_ID', articleId);
                document.getElementById('deleteArticleModalLabel').textContent = 'Makaleyi Sil';
                document.querySelector(`#deleteArticleLink`).setAttribute('href', deleteUrl);
                var deleteModal = new bootstrap.Modal(document.getElementById('deleteArticleModal'));
                deleteModal.show();

                document.getElementById('deleteArticleLink').addEventListener('click', function () {
                    window.location.href = deleteUrl;
                });
            }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl);
                });
            });
        </script>

        <script>
            function closeModal() {
                $('#deleteArticleModal').modal('hide');
                $('.modal-backdrop').remove();
            }


            $('.btn-close').click(function () {
                closeModal();
            });


            $('#deleteArticleLink').click(function () {
                closeModal();
            });
        </script>
        <script>
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "yesy-asc": function (str1, str2) {
                    if (str1 === "")
                        return 1;
                    if (str2 === "")
                        return -1;
                    return ((str1 < str2) ? -1 : ((str1 > str2) ? 1 : 0));
                },

                "yesy-desc": function (str1, str2) {
                    if (str1 === "")
                        return 1;
                    if (str2 === "")
                        return -1;
                    return ((str1 < str2) ? 1 : ((str1 > str2) ? -1 : 0));
                }
            });
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "sayi-asc": function (str1, str2) {
                    if (str1 === "")
                        return 1;
                    if (str2 === "")
                        return -1;
                    return parseInt(str1) - parseInt(str2);
                },

                "sayi-desc": function (str1, str2) {
                    if (str1 === "")
                        return 1;
                    if (str2 === "")
                        return -1;
                    return parseInt(str2) - parseInt(str1);
                }
            });

            let table = new DataTable('#myTable', {
                pageLength: 25,
                responsive: true,
                searchBuilder: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
                    info: " _TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                    sInfoPostFix: ""

                },
                order: [[2, 'asc']],
                columnDefs: [
                    {type: 'yesy', targets: [0]},
                    {type: 'sayi', targets: [2]},
                    {orderable: false, targets: [6]},
                ],
            });

        </script>
    {% endblock %}
