<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Favicons -->
    <link href="{{ asset('img/logo.png') }}" rel="icon">
    {#    <link href="{{ asset('img/img.png') }}" rel="apple-touch-icon"> #}


    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->

    <link href="{{ asset ("vendor/bootstrap-icons/bootstrap-icons.css") }}" rel="stylesheet">
    <link href="{{ asset ("vendor/swiper/swiper-bundle.min.css") }}" rel="stylesheet">
    <link href="{{ asset ("vendor/glightbox/css/glightbox.min.css") }}" rel="stylesheet">

    <!-- Template Main CSS Files -->

    {#    <link href="{{ asset('img/img.png') }}" rel="icon"> #}
    {% block stylesheets %}

        <link href="{{ asset ('css/variables.css') }}" rel="stylesheet">
        <link href="{{ asset ('css/main.css') }}" rel="stylesheet">
        <link href={{ asset ('vendor/aos/aos.css') }}>
        <style>
            footer {

            }

            body {
                font-family: sans-serif;
                font-size: 17px;

            }

            header {
                background-color: #f3f3f3;
            }

            .breadcrumb-container {
                margin-top: 18px;
                background-color: #f8f9fa;
                padding: 10px;
                text-align: center;
            }
          

            .breadcrumb {
                list-style: none;
                padding-top: 0;
                margin: -10px;
                text-align: center;

            }

            .breadcrumb-item {
                display: inline;
                font-size: 16px;
                margin-right: 5px;
                text-align: center;

            }

            .breadcrumb-separator {
                color: #6c757d;
                text-align: center;

            }

            .breadcrumb-container .breadcrumb .breadcrumb-item a {
                text-decoration: none;
                color: #333;
                font-weight: bold;
                font-size: 18px;
                text-align: center;


            }

            .breadcrumb-container .breadcrumb .breadcrumb-item.active a {
                color: #555;
                text-align: center;

            }

            .breadcrumb-separator {
                text-align: center;
            }

            .breadcrumb-container .breadcrumb .breadcrumb-item {
                text-align: center;
            }

            .breadcrumb-container .breadcrumb .breadcrumb-item a {
                text-decoration: none;
                color: #333;
                font-weight: bold;
                font-size: 18px;
                text-align: center;
            }

            .breadcrumb-container .breadcrumb .breadcrumb-item.active a {
                color: #555;
                text-align: center;
            }
        </style>

    {% endblock %}
</head>
<body>
<header class="p-3 border-bottom header">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="{{ asset('img/dergipark.png') }}" alt="Dergipark Logo" width="180" height="70">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto  justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary"></a></li>
                <li><a href="#" class="nav-link px-2 link-dark"></a></li>
                <li><a href="#" class="nav-link px-2 link-dark"></a></li>
                <li><a href="#" class="nav-link px-2 link-dark"></a></li>
            </ul>

            <div class="dropdown text-end">
                {% if is_granted('IS_AUTHENTICATED') %}
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('img/person-fill.svg') }}" alt="mdo" width="32" height="32"
                             class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{{ path('app_homepage') }}">Anasayfa</a></li>

                        {% if 'ROLE_SYSTEM_OPERATOR' in app.user.roles or 'ROLE_ADMIN' in app.user.roles %}
                            <li><a class="dropdown-item" href="{{ path('dashboard_admin') }}">Admin Paneli</a></li>
                        {% endif %}


                        <li><a class="dropdown-item" href="{{ path('app_change_password') }}">Şifre Değiştir</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sign out</a></li>
                    </ul>
                {% else %}

                {% endif %}
            </div>

        </div>
    </div>
</header>

{% if app.user %}
    {% if breadcrumb is not empty %}
        <div class="breadcrumb-container mt-0" style="border-bottom: 1px solid; ">
            <nav aria-label="breadcrumb">
                <div class="container">
                    <ol class="breadcrumb">
                        {% for item in breadcrumb.children %}
                            <li style="text-align: center"
                                class="breadcrumb-item"{% if loop.last %} aria-current="page"{% endif %}>
                                <a href="{{ item.uri }}">{{ item.label }}</a>
                            </li>
                            {% if not loop.last %}

                                <span class="breadcrumb-separator" style="font-size: 18px"> &nbsp;&raquo;&nbsp; </span>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
            </nav>
        </div>
    {% endif %}

{% endif %}

<div class="message-container mt-4">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success message-container" style="margin-bottom: 28px; margin-top: -22px; text-align: center; font-size: 22px;">
            {{ message }}
        </div>
    {% endfor %} {% for message in app.flashes('warning') %}
        <div class="alert alert-warning message-container" style="margin-bottom: 25px; margin-top: -22px; text-align: center; font-size: 22px;">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger message-container" style=" margin-bottom: 25px; margin-top: -22px; text-align: center; font-size: 22px;">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% block body %}{% endblock %}

<!-- End Header -->


<!-- ======= Footer ======= -->
<div class="container mt-lg-3">
</div>
{% block javascripts %}

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ asset('vendor/aos/aos.js') }}"></script>
{% endblock %}
</body>
</html>


