{# templates/reset_password/change_password.html.Twig #}

{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block body %}


    {% block stylesheets %}

                <style>
                    .button-container {
                        display: flex;
                        justify-content: flex-end; /* Butonları sağa yaslama */
                    }
                </style>
    {% endblock %}

    <div class="container">
    <div class="row justify-content-center">
    <div style="text-align: right;">

        <h1 class="text-center "> Şifre Değiştirme</h1>
    </div>
    <div class="col-md-6">

        <div class="card d-flex"
             style="background-color: #f2f2f2; max-height: 900px;  width: 100%; ">

            <div class="card-body" style="font-size: 20px">
                {{ form_start(changePasswordForm) }}
                <div class="mb-3">
                     {{ form_label(changePasswordForm.currentPassword, ) }}
                    {{ form_widget(changePasswordForm.currentPassword) }}
                    <br>
                    {% for error in changePasswordForm.currentPassword.vars.errors %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endfor %}

                </div>
                <div class="mb-3">
                    {{ form_label(changePasswordForm.plainPassword.first, ) }}
                    {{ form_widget(changePasswordForm.plainPassword.first) }}
                    <br>
                    {% for error in changePasswordForm.plainPassword.first.vars.errors %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form_label(changePasswordForm.plainPassword.second, ) }}
                    {{ form_widget(changePasswordForm.plainPassword.second) }}
                    <br>
                    {% for error in changePasswordForm.plainPassword.second.vars.errors %}
                        <div class="alert alert-danger">{{ error.message }}</div>
                    {% endfor %}
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-dark" style="text-align: right">Şifreyi Değiştir</button>
                </div>
                {{ form_end(changePasswordForm) }}

            </div>
        </div>
    </div>


{% endblock %}