{% extends 'base.html.twig' %}

 {% block title %}Dergi Sayıları{% endblock %}
 {% block stylesheets %}
     <link href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
     <link type="text/css" href="{{ asset('css/breadcrumb.css') }}" rel="stylesheet">

 {% endblock %}

    {% block body %}
        <style>
            .card {
                max-height: none;
                overflow: auto;
            }

            header {
                background-color: #f3f3f3;
            }

            #deleteIssueModal {
                margin-top: 150px;
            }
            /* CSS */
            .button-42 {
                background-color: initial;
                background-image: linear-gradient(-180deg, #1c5b3e, #198753);
                border-radius: 3px;
                box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
                height: 39px;
                line-height: 40px;
                outline: 0;
                overflow: hidden;
                padding: 0 12px;
                pointer-events: auto;
                position: relative;
                text-align: center;
                touch-action: manipulation;
                user-select: none;
                -webkit-user-select: none;
                white-space: nowrap;
                z-index: 9;
                border: 0;
                transition: box-shadow .2s;
            }

            .button-42:hover {
                box-shadow: #198754 0 3px 8px;
                color: #fff;
            }
            td,
            th{
                text-align: center; /* Tablo hücrelerini ortala */
                vertical-align: middle; /* Dikey hizalama */
            }

            /* Tablo hücrelerine padding ekleme */
            .table td {
                padding: 8px; /* İhtiyaca göre ayarlayabilirsiniz */
            }

            .table {
                border-collapse: collapse;
                border-spacing: 0;
            }
            .badge {
                display: flow;
                line-height: unset;
                font-size: 14px; /* Badgelerin font boyutu */
                padding: 8px 12px; /* Badgelerin içeriğe boşluk ekleyerek boyutunu ayarlama */
            }
        </style>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h1>{{ journal.name }} Sayıları</h1>
                <div class="m-3">
                    <a href="{{ path('journal_issue_add',{'id': journal.id}) }}" class="btn btn-lg btn-dark" style="margin-right: -13px">Yeni Sayı
                        Ekle</a>
                </div>

            </div>
            <div class="card shadow-lg " style="font-size: 20px;">
                <div class="card-body">

                    <div class="container_table" style="overflow: hidden;">
                        <table class="table" id="myTable">
                            <thead>
                            <tr>
                                <th style="text-align: center; ">Sayı Yılı</th>
                                <th style="text-align: center; ">Cilt</th>
                                <th style="text-align: center; ">Sayı</th>
                                <th style="text-align: center; ">Durum</th>
                                <th style="text-align: right; "></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for issue in issues %}
                                <tr>
                                    <td>{{ issue.year }}</td>
                                    <td>{{ issue.volume }}</td>
                                    <td>{{ issue.number }}</td>
                                    {% if issue.status == '000' %}
                                        <td><span class="badge bg-secondary">İncelemede</span></td>
                                    {% elseif issue.status == '001' %}
                                        <td><span class="badge text-bg-warning"
                                                  style=" ">Düzenlenmeli</span></td>
                                    {% elseif issue.status == '002' %}
                                        <td><span class="badge text-bg-success"
                                                  style="">Kontrol Edildi</span></td>
                                    {% elseif issue.status == '003' %}
                                        <td><span class="badge text-bg-danger">Hatalı</span></td>
                                    {% else %}
                                        <td>--</td>
                                    {% endif %}
                                    <td style="text-align: right">
                                        {% if issue.status == '002' %}

                                            <a class="btn button-42"
                                               href="{{ path('issue_export', {'id': issue.id}) }}">Dışa Aktar</a>

                                        {% else %}
                                        {% endif %}
                                        <div class="btn-group">
                                            <a class="btn btn-primary" style="text-align: right; border-radius: 3px"
                                               href="{{ path('articles_list', {'id': issue.id}) }}">Makaleler</a>

                                            <div class="dropdown" >
                                                <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        id="dropdownMenuButton" data-bs-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false" style="border-radius: 3px">
                                                    <i class="bi bi-three-dots"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item"
                                                       href="{{ path('journal_issue_edit', {'id': issue.id}) }}">Düzenle</a>
                                                    <a class="dropdown-item" type="button" href="#" data-bs-toggle="modal"
                                                       onclick="openDeleteModal({{ issue.id }})"
                                                       data-bs-target="#deleteJournalModal"
                                                       data-target="#deleteJournalModal" data-id="{{ issue.id }}">Sil</a>
                                                    <a class="dropdown-item" href="{{ path('journal_issue_xml_edit', {'id': issue.id}) }}">
                                                        Xml Düzenle
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    {#                                        <div class="dropdown"> #}
                                    {#                                            <button class="btn btn-secondary dropdown-toggle" type="button" #}
                                    {#                                                    id="dropdownMenuButton" data-bs-toggle="dropdown" #}
                                    {#                                                    aria-haspopup="true" #}
                                    {#                                                    aria-expanded="false"> #}
                                    {#                                                <i class="bi bi-three-dots"></i> #}
                                    {#                                            </button> #}
                                    {#                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> #}
                                    {#                                                <a class="dropdown-item" #}
                                    {#                                                   href="{{ path('admin_journal_edit', {'id': journal.id}) }}">Düzenle</a> #}
                                    {#                                                <a class="dropdown-item" type="button" href="#" data-bs-toggle="modal" #}
                                    {#                                                   onclick="openDeleteModal({{ issue.id }})" #}
                                    {#                                                   data-bs-target="#deleteIssueModal" #}
                                    {#                                                   data-target="#deleteIssueModal" data-id="{{ issue.id }}">Sil</a> #}
                                    {#                                            </div> #}
                                    {#                                        </div> #}
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">Sayı Bulunamadı...</td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                    <td colspan="3"></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteIssueModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteIssueModalLabel" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteIssueModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        Sayıyı silmek istediğinizden emin misiniz?
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="deleteIssueLink" class="btn btn-primary" data-bs-dismiss="modal">
                            Sayıyı Sil
                        </button>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {% block javascripts %}

        <script charset="utf8" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
        <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script>
            function openDeleteModal(issueId) {
                var deleteUrl = "{{ path('journal_issue_delete', {'id': 'JOURNAL_ID'}) }}".replace('JOURNAL_ID', issueId);
                document.getElementById('deleteIssueModalLabel').textContent = 'Sayıyı Sil';
                document.querySelector(`#deleteIssueLink`).setAttribute('href', deleteUrl);
                var deleteModal = new bootstrap.Modal(document.getElementById('deleteIssueModal'));
                deleteModal.show();

                document.getElementById('deleteIssueLink').addEventListener('click', function () {
                    window.location.href = deleteUrl;
                });
            }
        </script>
        <script>
            function closeModal() {
                $('#deleteIssueModal').modal('hide');
                $('.modal-backdrop').remove();
            }


            $('.btn-close').click(function () {
                closeModal();
            });


            $('#deleteIssueLink').click(function () {
                closeModal();
            });
        </script>
        <script>
            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "yesy-asc": function (str1, str2) {
                    if (str1 === "")
                        return 1;
                    if (str2 === "")
                        return -1;
                    return ((str1 < str2) ? -1 : ((str1 > str2) ? 1 : 0));
                },

                "yesy-desc": function (str1, str2) {
                    if (str1 === "")
                        return 1;
                    if (str2 === "")
                        return -1;
                    return ((str1 < str2) ? 1 : ((str1 > str2) ? -1 : 0));
                }
            });

            let table = new DataTable('#myTable', {
                pageLength: 25,
                responsive: true,
                searchBuilder: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.7/i18n/tr.json',
                },
                order: [[2, 'asc']],
                columnDefs: [
                    {type: 'yesy', targets: []},
                    {orderable: false, targets: [4]},
                ],
            });
        </script>
    {% endblock %}
